
.cz-text-fold {
  font-size: 14px;
  line-height: 20px;
  color: inherit;

  .cz-text-box {
    //margin-top: 5px;
    // 会对过长的单词做词内断词处理，这样单词始终会在容器中，不会溢出容器
    word-wrap: break-word;
  }

  .cz-text__action {
    margin-bottom: 5px;
    .cz-text__btn {
      display: inline-block;
      line-height: 22px;
      cursor: pointer;
    }
  }

  .over-hidden, .over-hidden > div {
    //象作为弹性伸缩盒子模型显示。
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    //设置或检索伸缩盒对象的子元素的排列方式。
    -webkit-box-orient: vertical;
    //用来限制在一个块元素显示的文本的行数。
    -webkit-line-clamp: var(--line-clamp-num);
  }
}

// position为end时，展开按钮位置及状态样式
.cz-text-fold {
  .cz-text-box {
    display: flex;
    > div {
      &::before {
        content: '';
        float: right;
        width: 0;
        height: 100%;
        margin-top: -20px;
      }
    }
  }
  .end-btn {
    float: right;
    clear: both;
    background-color: inherit;
  }
}
