:root {
  --global-normal-color: #16baaa;

  --global-primary-color: #1e9fff;

  --global-warm-color: #ffb800;

  --global-danger-color: #ff5722;

  --global-checked-color: #16b777;

  --global-info-color: #31BDEC;

  --global-border-radius: 4px;

  --global-neutral-color-1: #FAFAFA;

  --global-neutral-color-2: #F6F6F6;

  --global-neutral-color-3: #eeeeee;

  --global-neutral-color-4: #e2e2e2;

  --global-neutral-color-5: #dddddd;

  --global-neutral-color-6: #d2d2d2;

  --global-neutral-color-7: #cccccc;

  --global-neutral-color-8: #c2c2c2;

  --global-font-white-1: rgba(255, 255, 255, 1);

  --global-font-white-2: rgba(255, 255, 255, 0.55);

  --global-font-white-3: rgba(255, 255, 255, 0.35);

  --global-font-white-4: rgba(255, 255, 255, 0.22);

  --global-font-gray-1: rgba(0, 0, 0, 0.9);

  --global-font-gray-2: rgba(0, 0, 0, 0.6);

  --global-font-gray-3: rgba(0, 0, 0, 0.4);

  --global-font-gray-4: rgba(0, 0, 0, 0.26);

  --darkreader-text--global-primary-color: var(--global-primary-color) !important;

  --darkreader-border--global-primary-color: var(--global-primary-color) !important;

  --darkreader-bg--global-primary-color: var(--global-primary-color) !important;

  --darkreader-text--global-normal-color: var(--global-normal-color) !important;

  --darkreader-bg--global-normal-color: var(--global-normal-color) !important;

  --darkreader-border--global-normal-color: var(--global-normal-color) !important;

  --darkreader-text--global-warm-color: var(--global-warm-color) !important;

  --darkreader-bg--global-warm-color: var(--global-warm-color) !important;

  --darkreader-border--global-warm-color: var(--global-warm-color) !important;

  --darkreader-text--global-danger-color: var(--global-danger-color) !important;

  --darkreader-bg--global-danger-color: var(--global-danger-color) !important;

  --darkreader-border--global-danger-color: var(--global-danger-color) !important;

  --darkreader-bg--global-checked-color: var(--global-checked-color) !important;

  --darkreader-text--global-checked-color: var(--global-checked-color) !important;

  --darkreader-border--global-checked-color: var(--global-checked-color) !important;

}
html.dark {
  --ep-bg-color: var(--el-bg-color,  #141414);
  --ep-bg-color-page: var(--el-bg-color-page, #0a0a0a);
  --ep-bg-color-overlay: var(--el-bg-color-overlay, #1d1e1f);
}
