.ep-line {
  &-horizontal{
    display: flex;
    align-items: center;
    margin: var(--ep-line-margin);
    width: 100%;
    &::before,
    &::after {
      position: relative;
      width: var(--ep-line-offset);
      border-bottom-width: var(--ep-line-border-width);
      border-bottom-style: solid;
      border-bottom-color: var(--ep-line-border-color);
      /* 设置边框的平铺方式 */
      border-image-repeat: stretch;
      content: '';
    }
  }
  &-vertical {
    position: relative;
    top: calc((100% - 1rem) / 2 - 2px);
    display: inline-block;
    height: 1rem;
    margin: var(--ep-line-margin);
    //vertical-align: middle;
    border-top: 0;
    border-inline-start: var(--ep-line-border-width) solid var(--ep-line-border-color);
  }
  &-text {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    padding: 0 16px;
    &__left,
    &__offset {
      &::before {
        width: var(--ep-line-offset);
      }
      &::after {
        width: calc(100% - var(--ep-line-offset));
      }
    }
    &__right {
      &::before {
        width: calc(100% - var(--ep-line-offset));
      }
      &::after {
        width: var(--ep-line-offset);
      }
    }
  }
}
.ep-line.is-dashed {
  &::before,
  &::after {
    border-bottom-style: dashed !important;
  }
}
.ep-line.is-center.is-linear {
  &::before{
    /* 使用border-image来应用渐变效果 */
    border-image: linear-gradient(to right, transparent, var(--ep-line-border-color)) 30 30 round;
  }
  &::after{
    /* 使用border-image来应用渐变效果 */
    border-image: linear-gradient(to left, transparent, var(--ep-line-border-color)) 30 30 round;
  }
}
