div[class*="vp-doc _co-utils-vue_examples_utils"] img {
    display: initial !important;
}
html {
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        background-color: #0003!important;
        border-radius: 10px;
        transition: all .2s ease-in-out;
    }
}
div[class*="vp-doc _co-utils-vue_examples_utils"] sup {
    border-radius: 9999px;
    border-color: #409eff;
    margin-left: 0.5rem;
    padding: 0 7px;
    height: 20px;
    background-color: #ffffff;
    color: #409eff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    white-space: nowrap;
}
:root {
       --text-color: var(--el-text-color-primary);
       --text-color-light: var(--el-text-color-regular);
       --text-color-lighter: var(--el-text-color-secondary);
   }
.vp-doc table {
  margin:0 !important;
}
